$desktop-size: 77.5rem;
$primary-color-moderate-violet: hsl(263, 55%, 52%);
$primary-color-very-dark-grayish-blue: hsl(217, 19%, 35%);
$primary-color-very-dark-blackish-blue: hsl(219, 29%, 14%);
$primary-color-white: hsl(0, 0%, 100%);
$neutral-color-light-gray: hsl(0, 0%, 81%);
$neutral-color-light-grayish-blue: hsl(210, 46%, 95%);
$opacity-verified-graduate: 50%;
$opacity-paragraph: 70%;
$font-size: .8125rem;
$font-family: 'Barlow Semi Condensed';
$regular-weight: 500;
$big-weight: 600;
$extra_rem: 0rem;